In [17]:
# loops - for, while

lista = ['Banana', 'Maca', 'Pera', 'Manga', 'Melancia']

x = 0

for i in lista:
    x += 1
    print(f'{x} - {i}')
    
    
for i in range(0, 102,2):
    print(i)

1 - Banana
2 - Maca
3 - Pera
4 - Manga
5 - Melancia
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [21]:
x = [1,2,3,4,5,6,7]
y = [8,9,10,11,12,13,14]

for i in x:
    for j in y:
        result = j * i
        print(f' {i} * {j} = {result}')

 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10
 1 * 11 = 11
 1 * 12 = 12
 1 * 13 = 13
 1 * 14 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20
 2 * 11 = 22
 2 * 12 = 24
 2 * 13 = 26
 2 * 14 = 28
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30
 3 * 11 = 33
 3 * 12 = 36
 3 * 13 = 39
 3 * 14 = 42
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40
 4 * 11 = 44
 4 * 12 = 48
 4 * 13 = 52
 4 * 14 = 56
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50
 5 * 11 = 55
 5 * 12 = 60
 5 * 13 = 65
 5 * 14 = 70
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60
 6 * 11 = 66
 6 * 12 = 72
 6 * 13 = 78
 6 * 14 = 84
 7 * 8 = 56
 7 * 9 = 63
 7 * 10 = 70
 7 * 11 = 77
 7 * 12 = 84
 7 * 13 = 91
 7 * 14 = 98

In [24]:
primos = []
for i in range(2,30,1):
 
    j = 2

    valor = 0

    while j < i:
        if i % j == 0:
            valor = 1
            j = j + 1
        else:
            j = j + 1
            
    if valor  == 0:
        print(str(i) + 'é um numero primo')
        valor = 0
    else:
        valor = 0

[]

In [28]:
# Range

for i in range (1, 10, 3):
    print(i)
    
for j in range (0, -20, -5):
    print (j)

1
4
7
0
-5
-10
-15

In [36]:
# Metodos

from itertools import count


lista = [1,2,3,4,5,6,7,8,9,10,1,1,1,11,1221,1]

type(lista)
print(lista.count(1))
lista.append(11)
lista.remove(4)
lista.sort()

print(lista)

frase = 'vamos tirar a certificação'
frase.split('ce')

5
[1, 1, 1, 1, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 11, 1221]

['vamos tirar a ', 'rtificação']