In [3]:
# Operadores matematicos
print(3*3)
print(6/2)
print(4**2)
print(10 % 3)
print(5-4)
print(6+2)

# Conversores matematicos
type(float(9))
type(int(1))

9
3.0
16
1
1
8

In [7]:
# Variaveis 
var_1 = 'banana'
var_2 = 4.5
var_3 = ['laranja', 'maca', 'banan', 'pera']

print(var_3)
print(var_2)
print(var_1)

type(var_3)
type(var_2)
type(var_1)

['laranja', 'maca', 'banan', 'pera']
4.5
banana

str

In [1]:
var_texto = "A doutora triou a miha cicatriz"

print(var_texto[:3])
print(var_texto[6])
print(var_texto[6:])
print(var_texto[:-3])

A d
o
ora triou a miha cicatriz
A doutora triou a miha cicat

In [5]:
# Funções built in

var_exemplo = "banana"

print(var_exemplo.upper())
print(var_exemplo.lower())
print(var_exemplo.capitalize())
print(var_exemplo.replace("a", "k"))
print(var_exemplo.split("a"))
print(var_exemplo.count("a"))
print(var_exemplo.isalnum())
print(var_exemplo.endswith("o"))

BANANA
banana
Banana
bknknk
['b', 'n', 'n', '']
3
True
False

In [31]:
# Listas
lista = ["banana", 4.50, "Melancia", 6.78]

# Indexando a lista
print(lista[2])

# Atualizando valor da lista
lista[3] = 10.50

print(lista)

# Deletando valor na lista
del lista[0]
print(lista)

# Lista de lista
ListasDeListas = ["banana, maca, pera", "macarrao, molho, queijo", "carro, vermelho, pneu"]
print(ListasDeListas)

# Fatiando a listas
a = ListasDeListas[0]
b = a[0]

print(a)
print(b)
print(ListasDeListas[0][0])
print(ListasDeListas[1][2])
print(ListasDeListas[1][2])

# Funções built-in em listas
print(len(ListasDeListas))
print(ListasDeListas.append("Flor rosa"))
print(ListasDeListas)

# Passando informaões de uma old lista para uma new list:
old = ["Lara", "Luana"]
new = [ ]
for item in old:
    new.append(item)
print(new)

# Uso da função extend
cidade= ["São PAulo", "Fortaleza", "Manaus", "Minas Gerais"]
cidade.extend(["Bahia", "Rio de Janeiro"])
print(cidade)

cidade.remove("Bahia")
cidade.reverse()
cidade.sort()

Melancia
['banana', 4.5, 'Melancia', 10.5]
[4.5, 'Melancia', 10.5]
['banana, maca, pera', 'macarrao, molho, queijo', 'carro, vermelho, pneu']
banana, maca, pera
b
b
c
c
3
None
['banana, maca, pera', 'macarrao, molho, queijo', 'carro, vermelho, pneu', 'Flor rosa']
['Lara', 'Luana']
['São PAulo', 'Fortaleza', 'Manaus', 'Minas Gerais', 'Bahia', 'Rio de Janeiro']

In [37]:
# Dicionarios 

estudo_idade ={"idade":[19,25,45,65,226,43,25], "nome":["Lara", "Luana", "Felipe", "Maria", "Antonio"]}

estudo_idade["idade"][:6]
estudo_idade["nome"][:-3]

# Dicionarios Aninhados

dct_aninhado = {"Key1":{"key2_aninhada": {"key3_aninhada"}}}

In [ ]:
# Tuplas: estrutura mais limitada dentre as estrutura de dados e é IMUTAVEL, não pode add pelo append e nem fazer a função buitlin

tupla = ( "Geografia", "Ciencias")
tupla.append("Humanas")